.isHere {
    background-color: #28a745; 
    padding: 0.6rem 0.75rem;
    border-radius: 5px;
    font-weight: 400;
    font-size: 1rem;
    color: white;
    margin-right: 10px;
}
.notHere {
    border: 1px solid #28a745;;
    padding: 0.6rem 0.75rem;
    font-weight: 400;
    border-radius: 5px;
    font-size: 1rem;
    color: #28a745;
    vertical-align: middle;
    margin-right: 10px;

}
.up {
    color: green;
    font-size: 16px;
}
.down {
    color: red;
    font-size: 16px;
}