<section class="container">
    <div class="row justify-content-center">
        <h2 class="col-12 titleHome">Bienvenu sur Code overflow</h2>
    </div>
    <div class="row">
        <h3>Un petit tuto pour apprendre à utiliser le site</h3>
        <img  class="img-fluid" src="../../../assets/tuto_prid1.jpg" alt="image tuto_prid1.jpg">
        <img  class="img-fluid" src="../../../assets/tuto_prid2.JPG" alt="image tuto_prid2.jpg">
    </div>
</section>
