    <div class="row">
            <div class="col-sm-12">
                <h1>Tags</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <mat-form-field>
                    <input matInput (keyup)="filterChanged($event.target.value)" [value]="filter" placeholder="Filter" appSetFocus>
                </mat-form-field>
                <div class="mat-elevation-z2">
                    <table mat-table [dataSource]="dataSource" matSort matSortDisableClear>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
                            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                        </ng-container>
                       <ng-container matColumnDef="num">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> reference </th>
                            <td mat-cell *matCellDef="let row"><a [routerLink]="['/postlist',row.name]"><mat-chip> {{row.num}} </mat-chip> </a></td>
                        </ng-container>
                        <ng-container matColumnDef="actions" >
                            <th  mat-header-cell *matHeaderCellDef> Actions </th>
                            <td  mat-cell *matCellDef="let row">
                                <button *ngIf="authService.isAdmin()" mat-icon-button tabindex="-1">
                                    <mat-icon (click)="edit(row)">edit</mat-icon>
                                </button>
                                <button *ngIf="authService.isAdmin()" mat-icon-button tabindex="-1">
                                    <mat-icon (click)="delete(row)">delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                        </tr>
                    </table>
                    <mat-paginator [pageSize]="5" [pageSizeOptions]="[3, 5, 10, 25, 100]"></mat-paginator>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <button mat-raised-button (click)="create()">New Tag</button>
            </div>
        </div>