<section *ngIf="question" class="container" style="padding: 10px;">
    <div class="row divTitle">
        <h3 class="col-12">{{question.title}}</h3>
        <span class="col-12">Asked : {{question.timestamp | date:'d MMM, y, h:mm:ss'}}</span>
    </div>
    <div class="row divBodyQuestion">
        <div class="col-1">
                <button class="buttonstyle" [disabled]="currentUser && currentUser.reputation <= 14" (click)="addVote(question.id,1)">
            <mat-icon  matBadge="{{question.numUp}}" matBadgeSize="small" matBadgePosition="above below"
                style="cursor: pointer; color:green;"> thumb_up
            </mat-icon>
        </button>
            <p>{{question.score}}</p>
            <button class="buttonstyle" [disabled]="currentUser && currentUser.reputation <= 29"  (click)="addVote(question.id,-1)">
            <mat-icon matBadge="{{question.numDown}}" matBadgeSize="small" matBadgePosition="above below"
                style="cursor: pointer;color:red;"> thumb_down
            </mat-icon>
        </button>

        </div>
        <markdown [data]="question.body" class="col-10"></markdown>
        <mat-chip-list class="offset-1 col-5">
            <mat-chip style="background-color: goldenrod;" *ngFor="let tag of question.tags"> {{tag.name}}</mat-chip>
        </mat-chip-list>
        <span class="col-2">Posted by {{question.user.pseudo}} <br />
            Reputation : {{question.user.reputation}}
        </span>
    </div>
    <div class="row" style="border-bottom: 1px solid black">
        <div class="offset-1 col-11 style2 divCom">
            <div class="row rowCom" *ngFor="let com of question.comments">
                <div class="container">
                    <div class="row">
                        <markdown [data]="com.body" class="offset-1 col-11"></markdown>
                    </div>
                    <div class="row">
                        <div class="offset-7 col-3">
                            <p style="width: 100%;">
                                Commented by {{com.author.pseudo}} <br />
                                Reputation : {{com.author.reputation}} <br />
                                {{com.timestamp | date :'d MMM, y, h:mm:ss'}}
                            </p>
                        </div>
                        <span class="col-2" *ngIf="authService.isAdmin() || isComAuthor(com)">
                            <mat-icon> <a style="cursor: pointer;" (click)="edit(com)">edit</a></mat-icon>
                            <mat-icon> <a style="cursor: pointer;" (click)="delete(com)">delete</a></mat-icon>
                        </span>
                    </div>
                    <mat-divider class="col-12"></mat-divider>
                </div>
            </div>
        </div>
        <div class="offset-11 col-1">
            <mat-icon *ngIf="currentUser" aria-label="New comment"><a (click)="addComment(question.id)"
                    style="cursor: pointer;">add</a>
            </mat-icon>
        </div>
    </div>
    <div *ngFor="let reponse of question.reponses;let index = index;let isFirst = first" class="divRep">
        <h4 *ngIf="isFirst && question.acceptedPostId" class="col-12 titleAcceptedAnswer"> Accepted answer</h4>
        <h4 *ngIf="(isFirst && !question.acceptedPostId) || (index == 1 && question.acceptedPostId) "
            class="titleAnswer">Answers</h4>
        <div class="row">
            <div class="col-1">
                <button (click)="addVote(reponse.id,1)" class="buttonstyle" [disabled]="currentUser && currentUser.reputation <= 14">
                    <mat-icon matBadge="{{reponse.numUp}}" matBadgeSize="small" matBadgePosition="above below"
                        style="color:green;cursor: pointer;"> thumb_up
                    </mat-icon>
                </button>
                    <p> {{reponse.score}}</p>
                <button (click)="addVote(reponse.id,-1)" class="buttonstyle" [disabled]="currentUser && currentUser.reputation <= 29">
                    <mat-icon matBadge="{{reponse.numDown}}" matBadgeSize="small" matBadgePosition="above below"
                    style="color:red;cursor: pointer;" >thumb_down
                </mat-icon>
            </button>

                <br />
                <mat-icon *ngIf="currentUser && currentUser.id == question.user.id && reponse.id != question.acceptedPostId" style="color: green"><a
                        title="Accept answer" style="cursor: pointer" (click)="acceptAnswer(reponse)">done</a>
                </mat-icon>
                <mat-icon *ngIf="currentUser  && currentUser.id == question.user.id && reponse.id == question.acceptedPostId" style="color: darkred"><a
                        title="Remove accepted answer" style="cursor: pointer"
                        (click)="removeAcceptAnswer(question)">close</a></mat-icon>
            </div>
            <br *ngIf="currentUser && reponse.id == question.acceptedPostId" />
            <div class="col-10">
                <div class="container">
                    <div class="row">
                        <markdown [data]="reponse.body"></markdown>
                    </div>
                    <div class="row">
                        <div class="offset-7 col-3" style="vertical-align: text-bottom;">
                            Answered by {{reponse.user.pseudo}} <br />
                            Reputation : {{reponse.user.reputation}} <br />
                            {{reponse.timestamp | date :'d MMM, y, h:mm:ss'}}
                        </div>
                        <span class="col-2" *ngIf="authService.isAdmin() || isAuthor(reponse)">
                            <mat-icon> <a style="cursor: pointer;" (click)="editAnswer(reponse)">edit</a></mat-icon>
                            <mat-icon> <a style="cursor: pointer;" (click)="deleteRep(reponse)">delete</a></mat-icon>
                        </span>
                    </div>
                </div>
            </div>
            <mat-divider *ngIf="reponse.comments.length > 0" class="col-12"></mat-divider>
            <div class="container style2 divCom">
                <div class="row rowCom" *ngFor="let com of reponse.comments; let isLast = last;">
                    <div class="container">
                        <div class="row">
                            <markdown [data]="com.body" class="offset-2 col-8"></markdown>
                        </div>
                        <div class="row">
                            <div class="offset-7 col-3">
                                <p style="width: 100%;">
                                    Commented by {{com.author.pseudo}} <br />
                                    Reputation : {{com.author.reputation}} <br />
                                    {{com.timestamp | date :'d MMM, y, h:mm:ss'}}
                                </p>
                            </div>
                            <span class="col-2" *ngIf="authService.isAdmin() || isComAuthor(com)">
                                <mat-icon> <a style="cursor: pointer;" (click)="edit(com)">edit</a></mat-icon>
                                <mat-icon> <a style="cursor: pointer;" (click)="delete(com)">delete</a></mat-icon>
                            </span>
                        </div>
                    </div>
                    <mat-divider *ngIf="!isLast" class="col-12"></mat-divider>
                </div>
            </div>
            <div class="offset-11 col-1">
                <mat-icon *ngIf="currentUser" aria-label="New comment"><a (click)="addComment(reponse.id)"
                        style="cursor: pointer;">add</a></mat-icon>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="currentUser">
        <label for="answer" class="col-form-label-lg col-12">Your Answer</label>
        <simplemde class="col-12" id="anwser" [(ngModel)]="Answer"></simplemde>
        <markdown class="col-12" style="word-wrap: break-word ;border: 4px double black;border-radius: 1em;margin: 10px;min-height: 100px;"
            [data]="Answer"></markdown>
        <div class="offset-9">
            <button type="submit" mat-raised-button color="primary"
                [disabled]="Answer == null || Answer == '' || Answer == undefined" (click)="send()">Send</button>
            <button type="reset" style="margin-left: 10px;" mat-raised-button color="warn"
                (click)="cancel()">Cancel</button>
        </div>
    </div>
    <ng-template #defaultDialogButtons>
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-12">
                    <p class="col" style="text-align: center;">You can't vote if you are not connected, please <br />
                        <button mat-raised-button color="primary" [routerLink]='["/login"]' (click)="closeDialog()">
                            Login
                        </button>
                        or
                        <button mat-raised-button color="primary" [routerLink]='["/signup"]' (click)="closeDialog()">
                            Signup
                        </button>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="offset-10 col-2">
                    <button mat-raised-button color="warn" (click)="closeDialog()">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </ng-template>
</section>